:root {
  /*
   * Color palette
   */
  --color-sky-500: #24a5ff; /* HSV: 205, 86, 100 | rgb(36, 165, 255) */

  --color-denim-500: #16679f; /* HSV: 205, 86, 62  | rgb(22, 103, 159) */

  --color-amber-400: #e08700; /* HSV: 36, 100, 88 | rgb(224, 135, 0) */
  --color-amber-600: #ff9a00; /* HSV: 36, 100, 100 | rgb(255, 154, 0) */

  --color-silver-500: #dadee1; /* HSV: 206, 3, 88 | rgb(218, 222, 225) */

  --color-slate-100: #a7bdcc; /* HSV: 205, 18, 80 | rgb(167, 189, 204) */
  --color-slate-300: #7d8e99; /* HSV: 205, 18, 60 | rgb(125, 142, 153) */
  --color-slate-500: #73828c; /* HSV: 205, 18, 55 | rgb(115, 130, 140) */
  --color-slate-700: #545e66; /* HSV: 205, 18, 40 | rgb(84, 94, 102) */
  --color-slate-900: #2a2f33; /* HSV: 205, 18, 20 | rgb(42, 47, 51) */

  --color-clouds-500: #fafafa; /* HSV: 0, 0, 98 | rgb(250, 250, 250) */

  --color-night-400: #121b22; /* HSV: 206, 47, 13 | rgb(18, 27, 34) */
  --color-night-600: #08121a; /* HSV: 207, 69, 10 | rgb(8, 18, 26) */
}
