@theme {
  /*
   * Color palette
   */
  --color-sky-500: var(--color-sky-500);

  --color-denim-500: var(--color-denim-500);

  --color-amber-400: var(--color-amber-400);
  --color-amber-600: var(--color-amber-600);

  --color-silver-500: var(--color-silver-500);

  --color-slate-100: var(--color-slate-100);
  --color-slate-300: var(--color-slate-300);
  --color-slate-500: var(--color-slate-500);
  --color-slate-700: var(--color-slate-700);
  --color-slate-900: var(--color-slate-900);

  --color-clouds-500: var(--color-clouds-500);

  --color-night-400: var(--color-night-400);
  --color-night-600: var(--color-night-600);
}

@theme inline {
  /*
   * Fonts
   */
  --font-display: Poppins, sans-serif;
  --font-sans: "Inter Variable", sans-serif;
  --font-body: var(--font-sans); /* Used by prose-content */

  /*
   * Theme colors
   */
  --color-theme-primary: var(--color-theme-primary);
  --color-theme-secondary: var(--color-theme-secondary);

  /* Accent color */
  --color-theme-accent: var(--color-theme-accent);

  /*
    * Text colors
    * These are mainly used by Tailwind Typography plugin
    */
  --color-theme-text-on-light: var(--color-theme-text-on-light);
  --color-theme-text-on-dark: var(--color-theme-text-on-dark);
  --color-theme-text-base: var(--color-theme-text-base);
  --color-theme-text-invert: var(--color-theme-text-invert);
  --color-theme-text-muted: var(--color-theme-text-muted);
  --color-theme-text-headings: var(--color-theme-text-headings);
  --color-theme-text-links: var(--color-theme-text-links);
  --color-theme-text-pre-bg: var(--color-theme-text-pre-bg);
  --color-theme-text-on-primary: var(--color-theme-text-on-primary);

  /* Borders and backgrounds */
  --color-theme-borders: var(--color-theme-borders);
  --color-theme-background: var(--color-theme-background);
  --color-theme-background-invert: var(--color-theme-background-invert);
  --color-theme-background-highlight: var(--color-theme-background-highlight);
  --color-theme-background-card: var(--color-theme-background-card);
}

.theme-sky-light {
  --color-theme-primary: var(--color-sky-500);
  --color-theme-secondary: var(--color-slate-500);

  /* Accent color */
  --color-theme-accent: var(--color-amber-400);

  /*
    * Text colors
    * These are mainly used by Tailwind Typography plugin
    */
  --color-theme-text-on-light: var(--color-slate-900);
  --color-theme-text-on-dark: var(--color-silver-500);
  --color-theme-text-base: var(--color-theme-text-on-light);
  --color-theme-text-invert: var(--color-theme-text-on-dark);
  --color-theme-text-muted: var(--color-slate-700);
  --color-theme-text-headings: var(--color-theme-primary);
  --color-theme-text-links: var(--color-denim-500);
  --color-theme-text-pre-bg: var(--color-silver-500);
  --color-theme-text-on-primary: var(--color-clouds-500);

  /* Borders and backgrounds */
  --color-theme-borders: var(--color-silver-500);
  --color-theme-background: var(--color-clouds-500);
  --color-theme-background-invert: var(--color-night-600);
  --color-theme-background-highlight: var(--color-silver-500);
  --color-theme-background-card: var(--color-theme-background);
}

.theme-sky-dark {
  --color-theme-primary: var(--color-sky-500);
  --color-theme-secondary: var(--color-slate-500);

  /* Accent color */
  --color-theme-accent: var(--color-amber-600);

  /*
    * Text colors
    * These are mainly used by Tailwind Typography plugin
    */
  --color-theme-text-on-light: var(--color-slate-900);
  --color-theme-text-on-dark: var(--color-clouds-500);
  --color-theme-text-base: var(--color-theme-text-on-dark);
  --color-theme-text-invert: var(--color-theme-text-on-light);
  --color-theme-text-muted: var(--color-slate-100);
  --color-theme-text-headings: var(--color-theme-primary);
  --color-theme-text-links: var(--color-sky-500);
  --color-theme-text-pre-bg: var(--color-slate-500);
  --color-theme-text-on-primary: var(--color-clouds-500);

  /* Borders and backgrounds */
  --color-theme-borders: var(--color-slate-700);
  --color-theme-background: var(--color-night-600);
  --color-theme-background-invert: var(--color-clouds-500);
  --color-theme-background-highlight: var(--color-slate-900);
  --color-theme-background-card: var(--color-night-400);
}

/**
 * Shiki light / dark theme
 *
 * @see https://shiki.style/guide/dual-themes
 */
html.theme-sky-dark .shiki,
html.theme-sky-dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
