---
import "../styles/global.css";
import "@fontsource/poppins";
import "@fontsource-variable/inter";
import { getAbsoluteLocaleUrl, getPathByLocale } from "astro:i18n";
import type { LocalizedPath } from "../types/localizedPath";
import { SEO, type SEOProps } from "astro-seo";
import type { OmitDeep, PartialDeep, PickDeep } from "type-fest";
import defaultOgImageSource from "../assets/og-image-logo-with-bg.webp";
import { getImage } from "astro:assets";

/**
 * These OpenGraph fields are made optional, because this layout contains
 * fallback OG image configuration.
 */
type OptionalOgFields =
  | "basic.title"
  | "basic.type"
  | "basic.image"
  | "optional.description"
  | "image.height"
  | "image.width";

export interface Props {
  /**
   * Page title
   */
  title?: string | undefined;
  metaDescription?: string | undefined;
  /**
   * Alternative localized paths the page. Used to create
   * `<link rel="alternate">` tags and language switcher links.
   */
  localizedPaths?: LocalizedPath[] | undefined;
  seo?: Omit<SEOProps, "openGraph"> & {
    openGraph: OmitDeep<SEOProps["openGraph"], OptionalOgFields>;
  } & {
    openGraph: PartialDeep<PickDeep<SEOProps["openGraph"], OptionalOgFields>>;
  };
}

const { localizedPaths, seo } = Astro.props;

const defaultOgImage = await getImage({
  src: defaultOgImageSource,
  format: "jpg",
});
const defaultOgImageUrl = new URL(defaultOgImage.src, Astro.url).href;
---

<!doctype html>
<html
  lang={getPathByLocale(Astro.currentLocale ?? "en")}
  class="theme-sky-light scrollbar-thin scrollbar-track-theme-background-highlight scrollbar-thumb-theme-primary scrollbar-thumb-rounded-full"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Reun Media" />
    <link rel="manifest" href="/site.webmanifest" />

    <script is:inline src="/static/dist/setInitialTheme.js"></script>

    <SEO
      titleTemplate="%s - Reun Media"
      titleDefault="Reun Media"
      languageAlternates={localizedPaths?.map(({ code, slug }) => {
        const href = getAbsoluteLocaleUrl(code, slug);
        return { href, hrefLang: code };
      }) ?? []}
      {...seo}
      openGraph={// OG is manually constructed with custon fallback properties
      {
        basic: {
          type: "website",
          title: "",
          image: defaultOgImageUrl,
          ...seo?.openGraph?.basic,
        },
        optional: {
          // Open Graph uses `_` instead of `-` as locale delimiter
          locale: Astro.currentLocale?.replace("-", "_") ?? "",
          siteName: "Reun Media",
          ...seo?.openGraph?.optional,
        },
        image: {
          // astro-og-images outputs PNG
          type: seo?.openGraph?.image
            ? "image/png"
            : `image/${defaultOgImage.options.format}`,
          width: defaultOgImageSource.width,
          height: defaultOgImageSource.height,
          ...seo?.openGraph?.image,
          // Alt tag is deliberately omitted, since OG images are mostly
          // decorative and might not always represent the content itself. See
          // also: https://yoast.com/developer-blog/why-we-dont-set-the-og-image-alt-tag/
        },
      }}
    />

    <slot name="additional-head" />
  </head>
  <body class="bg-theme-background text-theme-text-base">
    <slot />
  </body>
</html>
