---
import TheFooter from "../components/TheFooter.astro";
import TheTopMenu from "../components/TheTopMenu.astro";
import BaseHtml from "./BaseHtml.astro";
import type { Props as BaseHtmlProps } from "./BaseHtml.astro";

export interface Props extends BaseHtmlProps {}

const props = Astro.props;
---

<BaseHtml {...props}>
  <slot name="additional-head" slot="additional-head" />

  <div class="pt-16">
    <TheTopMenu localizedPaths={props.localizedPaths} />
    <slot name="header" />
    <slot name="main">
      {
        /*
        Min height (min-h-...) == viewport height - pt-16 - mb-48
          - This makes footer appear right below the fold
        Max width (max-w-...) == breakpoint-lg + px-8
          - This makes max content inner width 1024 with extra space for padding
        */
      }
      <main
        class="mx-auto overflow-auto min-h-[calc(100vh-(--spacing(64)))] max-w-[calc(var(--breakpoint-lg)+(--spacing(16)))] px-4 sm:px-8 mb-48"
      >
        <slot />
      </main>
    </slot>
    <TheFooter />
  </div>
</BaseHtml>
